@charset "UTF-8";

/*
    元ファイル:svn_trunk\public\app\ctl\statics\css\style_br.css
 */

/*------------------------------------------------------------------------------
社内管理
------------------------------------------------------------------------------*/

/* ページタイトル */
.page-title-base {
    float: left;
    margin-top: 12px;
}

.page-title {
    background-color: #eeffee;
    border-style: solid;
    border-width: 4px;
    border-color: #CCFFCC #99CC99 #99CC99 #CCFFCC;
    display: inline;
    padding: 2px 4px;
    font-size: 120%;
    color: #3d3d3d;
    border-radius: 3px;
}

/* 社内管理：ヘッダー */
.header-br {
    width: 100%;
    min-width: 1024px;
    width:expression(document.body.clientWidth < 1024 ? "1024px" : "auto");
    padding: 0;
    margin: 0;
    text-align: left;
}

.header-br .header-br-back {
    background-color: #eeffee;
    padding:10px;
}

.header-br .header-br-back .header-br-contents {
    font-weight: bold;
    color: #3c3c3c;

}

.header-br .header-br-back .header-br-contents div#system-name {
    float: left;
}

.header-br .header-br-back .header-br-contents div#main-menu {
    float: right;
}


/* 社内管理：フッター（旧） */
.footer-br {
    width: 100%;
    min-width: 1024px;
    width:expression(document.body.clientWidth < 1024 ? "1024px" : "auto");
    padding: 0;
    margin: 0;
}

.footer-br .footer-br-back {
    background-color: #eeffee;
    color: #3c3c3c;
    font-weight: bold;
}

.footer-br .footer-br-back .footer-br-contents {
    padding: 10px;
}

.footer-br .footer-br-back .footer-br-contents div#dtm {
    float: right;
}

.footer-br .footer-br-back .footer-br-contents div#logout {
    float: left;
}

/* 社内管理フッター（新） */
.ft-back {
    padding: 4px;
}

#ft-htl {
    background-color: #eeffee;
}

#ft-dtm {
    float: right;
}

/* 戻るボタンメニュー */
.br-back-main-menu-form {
    text-align: right;
    margin: 0;
}

/* 社内管理：汎用フォーム */
.form-br-title, .form-br-box {
    background-color: #f8f8f8;
    margin: 0 auto;
}

.form-br-title .form-br-title-back, .form-br-box .form-br-box-back {
    margin: 0 auto;
}

.form-br-title .form-br-title-back .form-br-title-conntents {
    padding: 10px;
    border: 1px solid #7FD875;
    background-color: #7FD875;
    text-align: left;
    color: #3c3c3c;
    border-radius: 3px 3px 0px 0px;
    font-weight: bold;
}

.form-br-box .form-br-box-back .form-br-box-contents {
    padding: 10px;
    border: 2px solid #7FD875;
    text-align: left;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 8px 6px -6px #c9c9c9;
}

.form-br-box .item-name {
    margin: 0;
}

.form-br-box .item-comment {
    font-size: 90%;
}

.form-br-box .item-value {
    color: #3c3c3c;
    margin: 0.25em 0.5em;
    font-weight: bold;
}

.form-br-box .item-value#explain {
    border: 1px solid #cdcdcd;
    padding: 0.5em;
    border-radius: 3px;
}

.form-br-box hr.item-margin {
    color: #f8f8f8;
    background-color: #f8f8f8;
    border :none;
    border-top: 1px #f8f8f8;
    height: 1em;
}

.form-br-box hr {
    color: #ffffff;
    background-color: #ffffff;
    border :none;
    border-top: 1px dashed #ccc;
}

.form-br-box p {
    color: #616360;
}

.form-br-box .hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.form-br-box .menu {
    text-align: center;
}

/* 社内管理：検索汎用フォーム */
.br-search-box {
    background-color: #f8f8f8;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #e9e9e9;
}

.br-search-box hr {
    color: #ffffff;
    background-color: #ffffff;
    border :none;
    border-top: 1px dashed #ccc;
}

table.br-search-field {
    width: 100%;
}

table.br-search-field th {
    background-color: #7FD875;
    color: #3c3c3c;
    padding: 0.25em;
    white-space: nowrap;
}

table.br-search-field td {
    text-align: left;
    padding: 0.25em;
}

hr.contents-margin {
    color: #ffffff;
    background-color: #ffffff;
    border :none;
    border-top: 1px #ffffff;
    height: 1em;
}

/* 社内管理：所属団体フォーム */
.box-section-form {
    width: 40%;
    margin: auto;
}

/* 社内管理：DenyList検索条件フォーム */
.br-hotel-deny-form-search {
    width: 40%;
    margin: auto;
    float: left;
}

/* 社内管理：DenyList一覧 */
.br-hotel-deny-form {
    width: 100%;
    text-align: left;
    margin: auto;
}

.br-search-box .item-name {
    background-color: #FFDD99;
    float: left;
    width: 10em;
    display: table-cell;
    padding: 0.25em;
}

/* 社内管理：汎用リスト */
table.br-list {
    width: 100%;
    border-collapse:separate;
    border-spacing:0;
}

.br-list tr.odd {
    background-color: #f8f8f8;
}

.br-list tr.even {
    background-color: #DFF9D1;
}

.br-list tr.active {
    background-color: #FFFF66;
}

table.br-list th {
    text-align: left;
    background-color: #7FD875;
    color: #3c3c3c;
    padding: 0.75em 0.5em;
    white-space: nowrap;
}

table.br-list th.fc {
    border-radius:3px 0px 0px 0px;
}

table.br-list th.action-menu, table.br-list td.action-menu {
    text-align: right;
}

table.br-list th.lc {
    border-radius:0px 3px 0px 0px;
}

table.br-list td {
    text-align: left;
    padding: 0.5em;
    margin: 0;
}

.br-list-tail {
    background-color: #7FD875;
    color: #3c3c3c;
    padding: 0.25em;
    border-radius: 0px 0px 3px 3px;
    text-align: right;
    box-shadow: 0 8px 6px -6px #cdcdcd;
}

.pager {
    list-style: none;
    text-align: right;
}

.pager li {
    display: inline;
    margin: 0.25em;
    padding: 2px;
}

.pager li#current {
    color:#ff0000;
}

.pager li a {
    text-decoration: none;
}

.form-menu-l {
    float: left;
    margin-left: 0.5em;
}

.form-menu-r {
    float: right;
    margin-left: 0.5em;
}

/* パートナー管理：キーワード設定フォーム */
.box-keyword-form {
    width: 40%;
    text-align: left;
    margin: auto;
}
